<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Hace que el sitio sea responsive y se adapte a dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Descripción de la página -->
    <meta name="description" content="Gestión de operacioness financieros en AhorrADAs">

    <!-- Autor de la página -->
    <meta name="author" content="Sebastian Reyes">

    <!-- Palabras clave para SEO -->
    <meta name="keywords" content="operaciones, Finanzas, AhorrADAs, Gastos, Ingresos">

    <!-- Ícono de la pestaña -->
    <link rel="icon" href="./../../public/icons/favicon.png" type="image/png">

    <link rel="stylesheet" href="./../../src/CSS/style.css">

    <!-- Importa el script de guardian para protección/validación -->
    <script type="module" src="./../js/guardian.js"></script>

    <title>Categorias | AhorrADAs</title>
</head>
<body>
    <!-- Header -->
    <header>

        <!-- Barra de navegación usada para operaciones, categorias y reportes -->
        <nav class="nav-modulos">

            <!-- Título -->
            <h1 class="nav-titulo">AhorrADAs</h1>

            <!-- Navegacion derecha -->
            <div class="nav-derecha">

                <ul>
                    <li>
                        <a href="./operaciones.html">
                            <img src="./../../public/icons/balance.png" alt="icono de balance">
                            <p>Balance</p>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="./../../public/icons/categorias.png" alt="icono de categorias">
                            <p>Categorias</p>
                        </a>
                    </li>

                    <li>
                        <a href="./reportes.html">
                            <img src="./../../public/icons/reportes.png" alt="icono de reportes">
                            <p>Reportes</p>
                        </a>
                    </li>
                </ul>

                <div class="icono-login-container">
                <!-- Icono de login del usuario -->
                    <img src="./../../public/icons/login.png" alt="icono de login" id="icono-login">
                    <div class="circulo-verde"></div>

                    <!-- Menú flotante -->
                    <div class="menu-login" id="menu-login">
                        <button id="cerrar-sesion-btn">Cerrar sesión</button>
                    </div>
                </div>

            </div>

        </nav>

    </header>

    <main id="main-categorias">
        <section id="categorias">
            <div class="contenedor-categorias">
                <h2>Categorias</h2>

                <!-- Formulario para agregar o actualizar una categoría -->
                <form id="formulario-categorias">

                    <label for="nombre-categoria">Nombre</label>
                    <input type="text" id="nombre-categoria" required>
                    
                    <!-- Boton para agregar categoría -->
                    <div class="botones-elegir-categoria">
                        <button type="submit" id="btn-guardar" class="btn-guardar-categoria">Guardar</button>
                    </div>

                </form>
            </div>

            <div class="lista-categorias">
                <h2>Categorías Registradas</h2>

                <article class="tarjetas-categorias" id="tarjetas-categorias">
                    <!-- Las tarjetas de categorías se generarán dinámicamente aquí -->
                </article>

            </div>
        </section>
    </main>

    <script type="module" src="../js/categorias.js"></script>
</body>
</html>